.authform {
  @include sm {
    flex-direction: column;

    h1,
    p {
      margin-top: 2rem !important;
    }

    .illus {
      img {
        max-width: 80vw;
      }
    }
  }

  h1 {
    // color: $primary;
    margin: 0 0 1rem;
  }
  form {
    display: flex;
    flex-direction: column;
    span {
      margin: 1rem 0;
    }

    .buttons {
      display: flex;
      flex-wrap: wrap;

      .back {
        background-color: rgba(165, 173, 190, 1);
      }
    }

    .types {
      display: flex;

      .type {
        min-width: 40%;
        text-align: center;
        padding: 0.5rem 1rem;
        border-radius: 10px;

        background-color: $background-alt;

        cursor: pointer;
      }

      .current {
        background-color: $btn-color;
        color: white;
      }
    }
  }
}
