.authform {
  @include sm {
    flex-direction: column;

    h1,
    p {
      margin-top: 2rem !important;
    }

    .illus {
      img {
        max-width: 80vw;
      }
    }
  }

  h1 {
    // color: $primary;
    margin: 0 0 1rem;
  }
  form {
    display: flex;
    flex-direction: column;
    span {
      margin: 1rem 0;
    }

    .buttons {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

      .back {
        background-color: #9ac2bc;
      }
    }

    .signup-btns {
      display: flex;
      justify-content: space-between;
    }
  }

  // for the title on register page
  .form {
    .title {
      display: flex;
      justify-content: space-between;

      p {
        border: 2px solid #45988e;
        box-sizing: border-box;
        border-radius: 8px;
        padding: 0.5rem;
      }
    }
  }
}
