@import "variables";
@import "typography";
@import "responsive";

body {
  color: $text;
  background-color: $background;
  margin: 0;
}

.home {
  max-width: 800px;
  margin: auto;
}

@import "generic";
@import "app";
@import "authform";
@import "navbar";
@import "footer";
@import "payments";

@import "flex_comp";
