@import "variables";
@import "typography";

@mixin sm {
  @media (max-width: 900px) {
    @content;
  }
}

body {
  color: $text;
  background-color: $background;
  margin: 0;
}

.home {
  max-width: 800px;
  margin: auto;
}

@import "generic";
@import "app";
@import "authform";
@import "navbar";
@import "footer";
@import "payments";

@import "dashboard";
@import "tender_status";
