.payment {
  display: flex;
  margin: 1rem 0 2rem;
  @include full_width(2rem);
  .details {
    flex-grow: 1;
  }
  h1 {
    font-size: 1.5rem;
    margin: 0 0 0.25rem;
    font-weight: 500;
    display: flex;
    align-items: center;
  }
  p {
    margin: 0;
  }
  h1.amount {
    font-size: 1.7rem;
    // margin-right: 1rem;
    color: $heading-text;
    font-weight: 700;
    margin-bottom: 0;
  }

  &.lite {
    h1.amount {
      margin-right: 1rem;
      align-items: flex-start;
    }
  }
}
