.tender_status {
  .bid {
    display: flex;
    img {
      margin-right: 1rem;
      border-radius: 12px;
      height: 64px;
      width: 64px;
    }
    h1 {
      margin: 0 0 0.5rem;
      font-size: 1.5rem;
    }
  }
}
